/**

 */

.fire-mark {
  z-index: 2;
  left: 0;
  top: 0;
  border-style: solid;
  border-width: 5px;
  width: 2rem;
  height: 2rem;
  background: rgba(0,0,255,.05);
  position: absolute!important;
  margin: -2px;

  &--miss {
    border-color: orange;
  }

  &--fire {
    border-color: purple;
  }
}
